.hero-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
}
.main-container{
    position: relative;
    margin: 0 auto;
}
.poster-container{
    & img{
        width: 100%;        
        aspect-ratio: 1;
    }
}
.ticket__buy-btn{
    background-color: #28282B;
    color: white;
    padding: 10px;
    width: 100%;
}
.g-40{
    gap: 40px;
}
.ticket__content{
    & h4{
        color: white;
    }

    background-color: #545454;
    color: white;
    padding: 20px;
    border: 7px double rgb(249, 249, 249);
    margin: -5px 0 2px 0;
}